html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#mapid{
    width: 100%; 
    height: 100%;
}

#latlondiv {
    z-index: 500;
    position: absolute;
    top: 1%;
    width: 100%;
    text-align: center;
}

#latlonspan{
    display: inline-block;
    font-family: Verdana;
    padding: 8px;
    background-color: rgba(155,200,75,0.8);
    border-radius: 8px;
    box-shadow: 2px 2px 5px grey;
}

#latlonspan p{
    padding: 0;
    margin: 1px;
}

#btnSuivi {
    z-index: 500;
    position: absolute;
    top: 1%;
    right: 0.5%;
    padding: 5px;
    background-color: rgba(155,200,75,0.8);
    border-radius: 8px;
    box-shadow: 2px 2px 5px grey;
    
    font-family: Verdana;
}

#tcpDiv {
    z-index: 500;
    position: absolute;
    top: 50%;
    right: 0.5%;
    padding: 5px;
    background-color: rgba(155,200,75,0.8);
    border-radius: 8px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    
    font-family: Verdana;
    font-size: 0.9em;
    box-shadow: 2px 2px 5px grey;
}

#tcpDiv p{
    margin: 0;
    padding-bottom: 3px;
}

label {
    display: block;
}

#tcpSubmit {
    margin-top: 13px;
}

#labelSubmit {
    text-align: center;
}
