html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
    margin: 0;
    padding: 0;
}

#latlontxt {
    position: absolute;
	z-index: 500;
	top: 0%;
	left: 50%;
}