html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.leaflet-interactive{
    cursor: grab;
}

#container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#mapid{
    width: 100%; 
    height: 100%;
}

#latlondiv {
    z-index: 500;
    position: absolute;
    top: 1%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

#latlonspan{
    display: inline-block;
    font-family: Verdana;
    padding: 8px;
    background-color: rgba(240,240,240,0.8);
    border-radius: 8px;
    box-shadow: 2px 2px 5px grey;
}

#latlonspan p{
    padding: 0;
    margin: 1px;
}

#btnSuivi {
    z-index: 500;
    position: absolute;
    top: 1%;
    right: 0.5%;
    padding: 5px;
    background-color: rgba(240,240,240,0.8);
    border-radius: 8px;
    box-shadow: 2px 2px 5px grey;
    
    font-family: Verdana;
}

@media (max-width: 690px){
    #btnSuivi{
        top: 20%;
    }
}

#tcpDiv {
    z-index: 500;
    position: absolute;
    top: 40%;
    right: 0.5%;
    padding: 5px;
    background-color: rgba(240,240,240,0.8);
    border-radius: 8px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    
    font-family: Verdana;
    font-size: 0.9em;
    box-shadow: 2px 2px 5px grey;
}

#tcpDiv p{
    margin: 0;
    padding-bottom: 3px;
}

label {
    display: block;
    cursor: pointer;
}

input{
    cursor: pointer;
}

#psubmit {
    text-align: center;
}

#tcpSubmit{
    margin-top: 13px;
    background-color: #1b95e0;
    border: none;
    color: white;
    font: normal normal normal 12px/18px 'Helvetica Neue', Arial, sans-serif;
    border-radius: 4px;
    
    background-image: url(../img/twitterIcon.png);
    background-repeat: no-repeat;
}

#tcpSubmit:hover{
    box-shadow: 2px 2px 5px grey;
}

#tweetDiv {
    z-index: 500;
    position: absolute;
    bottom: 1%;
    left: 0.5%;
    background-color: rgba(120,120,120,0.0);
    padding: 0;
    margin: 0;
    
    font-family: Verdana;
    font-size: 0.9em;
}

#tweetDiv span{
    display: block;
}

#tweetDiv b{
    font-weight: bold;
    color: #0084b4;
}

#closeIcon{
    position: absolute;
    top: 0%;
    right: 0%;
    cursor: pointer;
    border: 2px solid black;
    border-left: none;
    transform: translate(100%, 80%);
    -webkit-transform: translate(100%, 80%);
}

#tweetMsg{
    padding: 2px;
    width: 192px;
    margin-top: 17px;
    background-color: white;
    border: 2px solid black;
    font-family: Consolas;
}

#btnLocAPI {
    z-index: 500;
    position: absolute;
    top: 60%;
    right: 0.5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding: 5px;
    background-color: rgba(240,240,240,0.8);
    border-radius: 8px;
    box-shadow: 2px 2px 5px grey;
    
    font-family: Verdana;
    font-size: 0.9em;
}

#facteurVitDiv {
    z-index: 500;
    position: absolute;
    top: 60%;
    right: 36px;
    transform: translateY(65%);
    -webkit-transform: translateY(65%);
    padding: 5px;
    background-color: rgba(240,240,240,0.8);
    border-radius: 8px;
    box-shadow: 2px 2px 5px grey;
    
    font-family: Verdana;
    font-size: 0.9em;
}


@media (max-height: 420px){
    #btnLocAPI {
        top: 65%;
    }
    #facteurVitDiv {
        top: 65%;
    }
    #tcpDiv{
        top: 35%;
    }
}